<h2>Detalhes</h2>

<%= link_to 'Voltar', posts_path %>

<hr class="divider">

<h3>
  Titulo:
</h3>
<p>
  <%= @post.title %>
</p>

<h3>
  Descrição:
</h3>
<p>
  <%= @post.body %> 
</p>

<h3>
  Escrito por:
</h3>
<p>
  <%= @post.user.username %> 
</p>

<p class="post_line">
  <%= link_to 'Editar', edit_post_path(@post), class: "btn btn-edit" %>
  <%= link_to 'Apagar', post_path(@post), method: :delete, class: "btn btn-delete" %>
</p>


<br>
  <strong>Add comment:</strong>
  <%= render 'comments/form', post: @post %>
<br>


<hr class="divider">

<%= render @post.comments.reverse %>
